@{
    ViewData["BaseCssClass"] = "report";
    ViewData["Title"] = "Report";

}
@model List<VacationTrackerAdmin.Models.Employee>

<div class="row">
    <div class="columns small-10 small-offset-1 end">
        <h1 class="text-center title">Vacation Usage Report</h1>
    </div>
</div>
@foreach (var emp in Model)
{
    <fieldset>
        <legend><h3>@emp.LastName, @emp.FirstName - @emp.BadgeNumber</h3></legend>
        <div class="row">
            <h4 class="columns small-12">
                Vacations
            </h4>
            <div class="columns small-12">
                <div class="row">
                    <div class="columns small-2">
                        Id
                    </div>
                    <div class="columns small-4">
                        Start Date
                    </div>
                    <div class="columns small-4">
                        Duration
                    </div>
                    <div class="columns small-2">
                        Cancelled?
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @foreach (var vac in emp.Vacations)
        {
            <div class="row vacation-item">
                <div class="columns small-2">
                    @vac.Id
                </div>
                <div class="columns small-4">
                    @vac.StartDate.ToString("dd-MMM-yyyy")
                </div>
                <div class="columns small-4">
                    @vac.Duration
                </div>
                <div class="columns small-2">
                    @{
                        if (vac.IsCancelled)
                        {
                            @:Cancelled
                        }
                        else
                        {
                            @:Active

                        }
                    }
                </div>
            </div>
        }
    </fieldset>
}